<div class="dashboard">

  <div class="mes-messages">
    <button class="button-donjons-et-dragons"><%= link_to 'Mes messages', parties_path %></button>
  </div>

  <div class="mes-personnages">
    <button class="button-donjons-et-dragons"><%= link_to 'Mes personnages', characters_path %></button>
  </div>

  <div class="mes-parties">
    <button class="button-donjons-et-dragons"><%= link_to 'Mes parties', parties_path %></button>
  </div>
</div>
