<!-- app/views/characters/_character_card.html.erb -->
<div class="character-card">
  <div class="character-card-header">
    <h3><%= character.name %></h3>
  </div>
  <div class="character-card-body">
    <p><strong>Race :</strong> <%= character.race.name %></p>
    <p><strong>Classe :</strong> <%= character.univers_class.name %></p>
  </div>
</div>
