#backstory-content {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100%; /* Assure que le conteneur a une hauteur */
  position: relative; /* Positionnement relatif pour centrer correctement */
}

.show-character-container {
  margin: 40px auto; /* Centrer le conteneur */
  max-width: 90%; /* Limiter la largeur pour éviter des éléments trop larges sur les grands écrans */
  height: auto; /* Ajuster automatiquement la hauteur en fonction du contenu */
  font-family: $headers-font; /* Utiliser une variable pour la cohérence des polices */
  padding: 20px;
  background-image: url('fond-show-character.jpg');
  background-size: cover;
  background-position: center; /* S'assurer que l'image de fond est centrée */
  background-repeat: no-repeat;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre subtile pour une meilleure intégration UI */
  color: #000000; /* Assurer la lisibilité du texte sur des fonds potentiellement sombres */
}

.text-affichage-show-character-div h1 {
  font-family: $headers-font;
  color: #ffffff;
  text-align: center;
  margin: 20px;
  margin-top: 30px;
}

.show-character-img-content {
  display: flex;
  flex-wrap: wrap; /* Permettre aux éléments de se répartir sur la ligne suivante si nécessaire */
  gap: 20px; /* Espace entre les éléments */
  letter-spacing: 1px;
}

.show-character-image-div {
  flex: 1;
  min-width: 300px; /* Assurer une largeur minimale pour le conteneur d'image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-character-image {
  max-width: 100%; /* Assurer que l'image ne déborde pas de son conteneur */
  width: 250px; /* Définir une largeur fixe pour agrandir l'image */
  height: auto; /* Ajuster automatiquement la hauteur en fonction de la largeur */
  box-shadow: 28px 16px 15px -3px rgba(56, 44, 44, 0.49);
  border-radius: 7px;
}

.show-character-content {
  flex: 2;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Fond clair */
  border-radius: 7px;
  color: #000000; /* Texte noir */
  box-shadow: 13px 7px 14px 3px rgba(56, 44, 44, 0.49);
}

.show-character-name-div {
  text-align: center;
  height: auto;
  margin-bottom: 20px;
}

.show-character-name {
  font-family: $headers-font;
  font-weight: bold;
  color: #000000; /* Texte noir */
}

.show-character-univers-race-class-available {
  display: grid; /* Utilisation de grid pour une meilleure organisation */
  grid-template-columns: 1fr 3fr; /* Deux colonnes : la première étroite et la deuxième large */
  gap: 30px; /* Espace entre les colonnes */
  padding: 25px;
  text-align: center;
  color: #000000; /* Texte noir pour ces éléments */
  background: rgba(255, 255, 255, 0.64); /* Fond clair semi-transparent pour lisibilité */
  border-radius: 5px;
  align-items: center;
}

.show-character-univers-race-class-available-display,
.show-character-univers-race-class-available-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-character-univers-race-class-available-display p,
.show-character-univers-race-class-available-content p {
  margin: 5px 0; /* Réduire l'espacement vertical entre les éléments */
}

.show-character-univers-race-class-available-display p {
  font-size: 24px; /* Taille des icônes */
  margin-bottom: 0; /* Pas d'espace sous les icônes */
}

.show-character-univers-race-class-available-content p {
  font-size: 18px; /* Taille du texte */
  margin-top: 0; /* Pas d'espace au-dessus du texte */
}

.show-character-caracteristic {
  margin: 40px;
  font-size: 22px;
  color: #000000; /* Changement de la couleur de texte en noir */
}

.show-character-caracteristic-display,
.show-character-caracteristic-content {
  display: grid; /* Utilisation de grid pour une meilleure organisation */
  grid-template-columns: repeat(6, 1fr); /* Crée six colonnes de taille égale */
  gap: 20px; /* Espace entre les colonnes */
  text-align: center;
}

.show-character-caracteristic-display p,
.show-character-caracteristic-content p {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.text-affichage-show-character-div h3 {
  color: black;
  text-align: center;
  margin: 20px;
  margin-top: 30px;
}

.text-affichage-description {
  font-size: 16px;
  text-align: center;
  color: rgb(228, 227, 227);
  margin-bottom: 20px;
  line-height: 1.5;
}

.text-affichage-show-character {
  font-size: 20px;
  font-family: $body-font;
  color: #000000; /* Texte noir */
}

.show-character-backstory {
  margin: 40px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fond clair */
  border-radius: 7px;
  color: #000000; /* Texte noir */
  font-family: $body-font;

  h2 {
    font-family: $headers-font;
    margin-bottom: 20px;
    color: #000000; /* Texte noir */
  }

  p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #000000; /* Texte noir */
  }
}

.btn-show-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-family: $text-font;
  color: #000000; /* Texte noir */
}
