<!-- app/views/posts/index.html.erb -->
<div class="lexique-container" data-controller="lexique">
  <div class="sections" data-lexique-target="sections">
    <div class="search-bar" data-lexique-target="searchBar">
      <%= form_with url: posts_path, method: :get, html: { data: { lexique_target: 'form' } } do %>
        <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Rechercher un mot...', data: { lexique_target: 'searchInput', action: 'keyup->lexique#update' } %>
      <% end %>
    </div>
    <div class="lexique-dictionnary" data-lexique-target="dictionary">
      <h2>Lexique</h2>
      <ul data-lexique-target="list">
        <%= render "list", posts: @posts %>
      </ul>
    </div>
  </div>
  <div class="lexique-content" data-lexique-target="content">
    <div class="lexique-opacity"></div>
    <h2>Sélectionnez un mot du lexique pour voir les explications</h2>
  </div>
</div>
