/* app/assets/stylesheets/components/_off_canvas_side_bar.scss */

.off-canvas-toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: transparent; /* Couleur dorée utilisée dans le style de l'ancienne navbar pour le contraste */
  color: #494949; /* Couleur de fond de l'ancienne navbar pour le texte du bouton */
  border: none;
  font-size: 24px;
  z-index: 1000; /* Assurez-vous que le bouton est au-dessus des autres éléments */
}

.off-canvas {
  transform: translatey(-100%);
  transition: transform 0.4s ease;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Hauteur de l'écran entier */
  background-image: url("side-bar.png");
  z-index: 999; /* Assurez-vous que la barre de navigation est au-dessus des autres éléments */
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 330px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -30px;
  background-position: top;

  .off-canvas-toggle {
    display: none;
  }
  &.show {
    transform: translatey(0);
  }
}

.off-canvas-toggle.hidden {
  display: none;
}

.navbar-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-link-navbar {
  list-style-type: none; /* Supprime les puces des éléments li */
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ul-navbar {
  list-style-type: none;
  padding: 0;
}

.navbar-portail-des-heros {
  color: #EBD18B;
  text-align: center;
  width: 80%;
  font-family: $headers-font; /* Utilisation de la variable pour la police des titres */
  display: grid;
  padding: 14px 16px;
  margin-top: 10px;
}

.list-navbar {
  width: 100%;

  .link-navbar {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;

    &:hover {
      font-weight: bold;
      color: rgb(0, 0, 0);
    }
  }
}

.div-avatar-pseudo {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  height: 60px;
  width: 60px;
  margin: 5px;
}
