/* app/assets/stylesheets/components/_character_cards.scss */
.character-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: space-around; /* Align cards evenly */
}

.character-card {
  background-color: #f8f9fa;
  border: 2px solid #6b6b6b;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 8px;
  width: 200px; /* Smaller width */
  font-family: $headers-font;
  color: #333;
  margin-bottom: 20px; /* Space between rows */

  &-header {
    text-align: center;
    margin-bottom: 15px;
    h3 {
      font-size: 20px; /* Adjust font size */
      margin: 0;
      color: #6b6b6b;
    }
  }

  &-body {
    p {
      font-size: 16px; /* Adjust font size */
      margin: 5px 0;
      strong {
        font-weight: bold;
      }
    }
  }
}

// Responsive design
@media (max-width: 1200px) {
  .character-card {
    width: calc(25% - 20px); /* Four cards per row */
  }
}

@media (max-width: 992px) {
  .character-card {
    width: calc(33.33% - 20px); /* Three cards per row */
  }
}

@media (max-width: 768px) {
  .character-card {
    width: calc(50% - 20px); /* Two cards per row */
  }
}

@media (max-width: 576px) {
  .character-card {
    width: calc(100% - 20px); /* One card per row */
  }
}
